* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blueviolet;
  
}
nav {
background-color: darkolivegreen;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

nav p {
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 200px;
  line-height: 1.4;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li a {
  color: red;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  transition: background 0.3s ease;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

nav button {
  background-color: #FFD700;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

nav button a {
  text-decoration: none;
  color: #000;
}
